* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #e9e8df;
}
/* .topnav {
  overflow: hidden;
  display: flex;
  background-color: purple;
  margin-top: 20px;
  height: 55px;
}
.topnav a {
  float: left;
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 18px;
}
.topnav a:hover {
  text-decoration: underline;
  color: #fff;
} */
/* .topnav a.active {
  color: white;
} */
/* .search {
  background-color: #fff;
  padding: 6px;
  border-radius: 50%;
  margin-bottom: 15px;
  float: right;
  display: flex;
} */
/* .lig-in {
  margin-right: -30px;
}
.right-nav {
  margin-left: 900px;
} */
/* .head-img {
  background-image: url(./assest/back.png);
  width: 100%;
} */

.header_nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #000000fd;
  border-bottom: 10px solid rgb(139, 0, 0);
}
.logo {
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  margin: 20px;
}

.navbar a {
  margin-top: 10px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  margin: 20px;
  text-decoration: none;
  width: 50px;
  height: 30px;
}

.navbar a:hover {
  border-radius: 10px;
  /* text-decoration: underline; */
  background-color: #000000;
}

.head-img {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 250px;
  font-size: 22px;
  margin-top: 150px;
  height: 130vh;
  background: linear-gradient(to top, #242424f8, #0000009c),
    url("./assest/back.png") no-repeat;
  background-size: cover;
  margin-top: -5px;
}

.head-img-left h1 {
  font-size: 35px;
  margin-left: -180px;
  color: #fff;
  border-bottom: 4px solid rgb(139, 0, 0);
}

.about {
  margin-top: 20px;
  width: 400px;
  margin-left: -150px;
  color: #fff;
}

.head-img-right {
  display: flex;
  /* margin-top: -100px; */
  width: 300px;
  height: 300px;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
}
@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  /* 50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;} */
}
.first-img {
  height: 400px;
  width: 200px;
  /* margin-left: 400px; */
  margin-top: 50px;
  border-radius: 50px 0 0 50px;
}
.second-img {
  width: 200px;
  height: 200px;
  border-radius: 50px 50px 0 0;
}
.third-img {
  width: 300px;
  height: 300px;
  margin-top: -10px;
  border-radius: 0 50px 50px 50px;
}
.socialicon1 {
  display: flex;
  justify-content: center;
}
.socialicon1 a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialicon1 a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.socialicon1 a:hover {
  background-color: #111;
  transition: o.5s;
  border: 4px solid darkred;
  border-radius: 50%;
}
.socialicon1 a:hover i {
  color: white;
  transition: 0.5s;
}

h2 {
  text-align: center;
  margin-top: 200px;
  font-size: 50px;
  text-shadow: 2px 2px 5px rgb(139, 0, 0);
}
.cards {
  /* margin-top: -90px; */
  display: flex;
  margin-top: -10px;
  margin-left: 30px;
}

.flip-card {
  margin-left: 10px;
  align-items: center;
  margin-top: 200px;
  background-color: transparent;
  width: 305px;
  height: 305px;
  border: 1px solid #fff;
  perspective: 1000px;
  border-radius: 50px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50px;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-front img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.flip-card-back {
  /* background-color: dodgerblue; */
  /* color: white;
   */
  /* width: 100%;
  height: 100%; */
  transform: rotateY(180deg);
}
.flip-card-back img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

h3 {
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  text-shadow: 2px 2px 5px rgb(139, 0, 0);
}
.final-img {
  padding-top: 50px;
  height: 400px;
  margin-top: 150px;
  display: flex;
  background-color: #b3b3b37e;
  border-radius: 50px;
}
.more-photos img {
  border-radius: 20px;
  margin-left: 40px;
  width: 200px;
  height: 300px;
  transition: width 2s;
}
.more-photos img:hover {
  border: 4px solid darkred;
  width: 300px;
  height: 300px;
}
footer {
  background-color: #111;
  margin-top: 300px;
}
.footercontainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialicon {
  display: flex;
  justify-content: center;
}
.socialicon a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialicon a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.socialicon a:hover {
  background-color: #111;
  transition: o.5s;
}
.socialicon a:hover i {
  color: white;
  transition: 0.5s;
}

.footernav {
  margin: 10px 0;
}
.footernav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footernav ul li a {
  color: white;
  margin: 10px;
  text-decoration: none;
}
.footerbottom {
  color: white;
}
